.table-line{
    margin-right:30px;
}

tr.table-line{
    border:1px;
    border-style:none none solid;
    border-color:lightgray;
    height:50px;
    
}

tbody>tr.table-line:hover{
    background:lightgray;    
}

#list{
    table-layout:fixed;
}

.tra{
	text-align: center;
}
