/* 큰 캘린더 */ 

#calendar {
    max-width: 1060px;
    margin: 0px auto;
}

#calendarBig {
    position: relative;
    width: 1060px;
    /* height: 300px; */
    top: 20px;
    left: 40px;
}

#todolistArea {
    position: relative;
    width: 1060px;
    /* height: 430px; */
    top: 20px;
    left: 40px;
    

}

/* #todo_date {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: whitesmoke;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 50px;
    border: 2px solid rgb(85, 83, 83);
    border-radius: 0px;
    border-style:none none solid;
} */

#todo_list {
    position: relative;
    height: 300px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: whitesmoke;
    margin-top: 10px;
   /*  padding-left: 20px; */
    border: 2px solid rgb(85, 83, 83);
/*     border-radius: 0px; */
    font-size: 17px;
    font-weight: lighter;
    border-style:none none solid;
}