	hr, td, tr, input, textarea, select, FORM{
	    font-family:고딕;
	    font-size:1em;
	}
	.managerTable{
	     margin-left:70px;      
	     border-style:none;
	     background:whitesmoke;
	     color: #7e848f;
	     line-height: 250%;
	}
	
	table>tbody>tr>td:nth-child(1){
	    padding-left: 10px;
	}
	
	table>tbody>tr>td:nth-child(2){
	    padding-left: 10px;
	}
	
	.managerTable>tbody>tr{
	    border:0.5px solid gray;
	}
	
	.right{
	    background:whitesmoke;
	}
	
	.cap{
	    border-style:none;
	    color:black;
	}
	
	#foot{
	    border:none;
	}
	
	.numberInput{
	    font-size:10px;
	    size:4;
	}